Repository ubuding/Webpack.React: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet, prettier --write

feat: README
  README.md
  src/modules/overview/pages/index.tsx
Due: eslint --quiet, prettier --write

feat: update
  README.md
  package.json
Due: prettier --write

feat: image
  README.md
  README/dark.jpg
  README/dark.png
  README/light.jpg
  README/light.png
Due: prettier --write

feat: update README
  README.md
  README/dark.png
  README/light.png
  src/modules/overview/locales/en.json
  src/modules/overview/locales/zh.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update webpack.common.ts
  .webpack/webpack.common.ts
Due: eslint --quiet, prettier --write

Update index.tsx
  src/modules/overview/pages/index.tsx
Due: eslint --quiet, prettier --write

feat: update
  README.md
  README/dark.png
  README/light.png
  package.json
  src/modules/global/README.md
  src/modules/global/store.ts
  src/modules/overview/README.md
  src/modules/overview/locales/en.json
  src/modules/overview/locales/zh.json
  src/modules/overview/pages/index.tsx
  src/modules/overview/store.ts
  tailwind.config.js
Due: eslint --quiet, prettier --write

Update package.json
  package.json
Due: none

Path conditions:
  eslint --quiet: any of: *.{js,ts,tsx}
  prettier --write: ((any of: *.{js,ts,tsx}) or (any of: *.{scss,less,css,html})) or (any of: *.md)
